[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sdebasi
[access "refs/for/refs/*"]
	read = group user/sdebasi
	push = group user/sdebasi
	label-Code-Review = -2..+2 group user/sdebasi
	label-Verified = -1..+1 group user/sdebasi
	rebase = group user/sdebasi
	removeReviewer = group user/sdebasi
	submit = group user/sdebasi
[access "refs/heads/*"]
	read = group user/sdebasi
	create = group user/sdebasi
	push = +force group user/sdebasi
	pushMerge = group user/sdebasi
[access "refs/tags/*"]
	push = +force group user/sdebasi
	pushTag = group user/sdebasi
	pushSignedTag = group user/sdebasi
